/* Index CSS: */

/*
 * Scaffolding
 */

.content-container {
    position: relative;
    top: 105px;
}

/*
 * Menu
 */
.menu {
    height: 125px;
    background-color: #ededed;
    margin: 0;
    position: fixed;
    display: grid;
    grid-template-columns: 50% 50%;
    align-content: center;
    align-items: center;
    z-index: 50;
    width: 100%;
    top: 0;
    left: 0;
}


.logo-container img{
    width: 20vmax;
    margin: 10px 0 10px 35px;
}

.menu-container ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100%;
    list-style-type: none;
}


/*
 * Header
 */

.header {
    background-image: url('../images/my-porter-header.jpg');
    /* background: center center; */
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    width: 100%;
    top: 0;
    left: 0
}