/* Index CSS: */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

/*
 * Defaults
 */
/* body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
} */




/*
 * Header
 */

.header {
    background-image: url('../images/my-porter-header-overlay.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    position: relative;
}

.header h2,
.header h3 {
    color: ##555
}

.header-zipcode-search {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    display: block;
    width: 450px;
    text-align: center;
    left: 0;
    right: 0;
    background-color: #ededed;
}

.header-zipcode-search-input-submit {
    margin: 0 0 0 25px;
}

.header-content {
    margin: 50px 0 0 35px;
}

/*
 * How it works
 */

 .section.how-it-works {
     text-align: center;
     background: #ededed;
     overflow: auto;
 }

.how-it-works-container {
    display: grid;
    width: 100vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content;
}

.how-it-works-container div {
    display: flex;
    flex-flow: column nowrap;
    padding: 5px 15px;
}

.how-it-works-container div img {
    width: 100%;
    height: auto;
}

/*
 * Products Grid
 */
.section.price-listing h2{
    text-align: center;
}

.price-listing-zipcode-search {
    margin: 0 auto;
    width: 370px;
}
/* Non-responsive */
/* .storage-options {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: min-content;
    grid-auto-flow: row;
    grid-row-gap: 20px;
    margin: 25px auto;
    justify-items: center;
} */

.storage-options {
    display: grid;
    margin: 25px auto;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: minmax(150px, auto);
    grid-gap: 10px;

}



.storage-option {
    text-align: center;
}


.product-data span.highlight {
    color: #95c746;
    font-size: 1.5rem;
    margin: 2px;
}

.product-data a {
    margin: 2px;
}