/* Index CSS: */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

/*
 * Defaults
 */
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem
}


h1, h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

h3 {
    font-weight: 400;
}

/*
 * Scaffolding
 */

.content-container {
    position: relative;
    top: 105px;
}

/*
 * Menu
 */
.menu {
    height: 125px;
    background-color: #ededed;
    margin: 0;
    position: fixed;
    display: grid;
    grid-template-columns: 50% 50%;
    align-content: center;
    align-items: center;
    z-index: 50;
    width: 100%;
    top: 0;
    left: 0;
}


.logo-container img{
    width: 20vmax;
    margin: 10px 0 10px 35px;
}

.menu-container ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100%;
    list-style-type: none;
}


/*
 * Header
 */

.header {
    background-image: url('../images/my-porter-header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    width: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    position: relative;
}

.header-zipcode-search {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    display: block;
    width: 450px;
    text-align: center;
    left: 0;
    right: 0;
    background-color: #ededed;
}

.header-zipcode-search-input-submit {
    margin: 0 0 0 25px;
}

.header-content {
    margin: 50px 0 0 35px;
}

/*
 * How it works
 */

 .section.how-it-works {
     text-align: center;
     background: #ededed;
     overflow: auto;
 }

.how-it-works-container {
    display: grid;
    width: 100vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content;
}

.how-it-works-container div {
    display: flex;
    flex-flow: column nowrap;
    padding: 5px 15px;
}

.how-it-works-container div img {
    width: 100%;
    height: auto;
}

/*
 * Products Grid
 */
.section.price-listing h2{
    text-align: center;
}

.price-listing-zipcode-search {
    margin: 0 auto;
    width: 370px;
}

.storage-options {
    margin: 20px 15px;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows: repeat(4, min-content);
    grid-auto-flow: column;
    grid-row-gap: 20px;
    width: 60%;
    margin: 25px auto;
}